.title {
    background-color: #0085CC;
    color: #ffffff;
    text-align: center;
    padding: 15% 0 1% 0;
    height: 25vh;
    .text {
        font-size: 290%;
    }
}
.grid-container  {
    color: #737373;
    font-size: 110%;
}

.c1 {
    display: inline-grid;
    grid-template-rows: auto auto auto auto auto auto auto auto;
    grid-template-columns: auto;
    grid-gap: 5px;
    margin: 3% 14% 3% 14%;
    justify-items: center;
    align-items: center;
    font-size: 90%;
    .link {
        color: #008AB8;
        cursor: pointer;
    }
}

@media screen and (max-width: 800px) and (min-width: 500px)  {
    .title {
        height: 35vh;
        padding-top: 20%;
    }
}