<div class="title">
	<p class="text">Detalii tehnice</p>
</div>
<div class="grid-container c1">
	<div class="grid-item item1">
		<img [src]="img">
	</div>
	<div class="grid-item item2">
		<h2>În industria alimentară</h2>
		<p>
			Respectă standardele alimentare. Practic instalarea nu necesită nicio întrerupere în
			funcționare. Calitatea înaltă durabilă,  își păstrează noul aspect de peste 10 ani,
			MedClyn produce foaia de poliester destinată să îmbine pereții și tavanele cu standarde
			alimentare. Rezistent la orice test, șoc, umiditate, spălare la presiune înaltă,
			dezinfectare spumă și este de 10 ori mai puțin poros decât PVC-ul: risc redus de îngălbenire.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			Recomandat în: <b>abatoare</b>, <b>tăiere</b>, <b>dezosare</b>, <b>unitate de umplere</b>,
			<b>sală de fabricație</b>, <b>sărare</b>, <b>gătit</b>, <b>refrigerare</b>,
			<b>prelucrare depozitare</b>, <b>zonă de gătit</b>, <b>coridoare</b>, <b>rezerve</b>,
			<b>vestiare</b>, <b>toalete</b>.
		</p>
	</div>  
</div>
<hr>
<app-brandDiv></app-brandDiv>