<div class="bottom-sheet">
	<mat-list role="list">
		<mat-list-item role="listitem">
			<mat-icon (click)="call('+40733200500')" matTooltip="Sună">call</mat-icon>
		   <span ngxClipboard matTooltip="Copiere" [cbContent]="'+40733200500'" 
		   (click)="copySnackBar('Nr. de telefon')">&nbsp; +40 733 200 500</span>
		</mat-list-item>
		<mat-list-item role="listitem">
			<mat-icon (click)="goToLocation()" matTooltip="Arată pe hartă">location_on</mat-icon>
			<span ngxClipboard matTooltip="Copiere" 
			[cbContent]="'Srada Oltului 141, Băicoi Prahova, 105200'"
			(click)="copySnackBar('Adresa')">&nbsp;Srada Oltului 141,<br>
			&nbsp;Băicoi Prahova, 105200</span>
		</mat-list-item>
		<mat-list-item role="listitem">
			<mat-icon (click)="openEmailDialog()" matTooltip="Trimite un mesaj">mail_outline</mat-icon>
			<span ngxClipboard matTooltip="Copiere" [cbContent]="'contact@medclyn.ro'"
			(click)="copySnackBar('Email-ul')">&nbsp;contact@medclyn.ro</span>
		</mat-list-item>
	</mat-list>
</div>