.c1 {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;
    column-gap: 20px;
    margin: 1% 15% 1% 15%;
    justify-items: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    .item1 {
        width: 70%;
        .title {
            font-size: 120%;
            color: #005D8F;
        }
        img {
            cursor: pointer;
            width: 40%;
        }
    }
    
}
@media screen and (max-width: 1000px) {
    .c1 {
        .item1 { 
            .title {
                font-size: 110%;
                color: #005D8F;
            }
            img {
                width: 60%;
            }
        }
    }
}