.float {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  width: 1.5em;
  height: 1.5em;
}

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 40vw;
}

.nav-list {
  width: 85%;
  text-align: center;
  padding: 20px;
  .mat-list-item {
    font-size: large;
    color: #0085CC;
    &:hover {
      color: #023E8A;
    }
  }
}

.sidenav .mat-toolbar{
  background: inherit;
}

.mat-toolbar{
  position: fixed;
  top: 0;
  z-index: 10;
  height: 13vh;
  background-color: #0077B6;
  color: #ffffff;
  a {
    text-decoration: none;
    font-size: 20px;
    &:hover {
      background-color: #0077b6;
    }
  }
  .logInOrOut {
    background-color: #ffffff; 
    color: #0077B6;
    margin-right: 10px;
    &:hover {
      background-color: #EAEAEA; 
      color: #0077B6; 
    }
  }
  .registerOrUsername {
    background-color: #0077B6; 
    color: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 5px;
    &:hover {
      color: #EAEAEA;
      border-color: #EAEAEA;
    }
  }
}

.spacer  {
  flex: 1 1 auto;
}

.logo {
  height: 60%;
  cursor: pointer;
}

button.mat-raised-button {
  background-color: #0077B6;
  color: #ffffff;
  font-size: 110%;
  &:hover{
    background-color: #ffffff;
    color: #0077B6;
  }
}

@media screen and (max-width: 900px) and (min-width: 0px)  {
  .mat-toolbar{
    .logInOrOut {
      font-size: 40%;
    }
    .registerOrUsername {
      font-size: 40%;
    }
  }
}