<div class="grid" *ngIf="haveAnyPost">
	<div class="grid-item">
		<mat-spinner></mat-spinner>
	</div>
</div>
<div [ngClass]="{
	'grid-container c1': (innerWidth > 1000),
	'grid-container c2': (innerWidth <= 1000)
 }" *ngIf="!haveAnyPost">
	<div class="grid-item"> 
		<mat-icon class="addIcon" [@onHover]="state" 
		(mouseenter)="changeState()" 
		(mouseleave)="changeState()"
		(click)="add()">add</mat-icon>
	</div>
	<div class="grid-item" *ngFor="let portfolioCard of portfolioCards; index as i;">
		<mat-card class="card">
			<mat-card-header>
				<div mat-card-avatar class="header">
					<mat-icon class="avatar" [inline]="true">location_on</mat-icon>
				</div>
				<mat-card-title> {{ portfolioCard.title }} </mat-card-title>
				<mat-card-subtitle> {{ portfolioCard.subtitle }} </mat-card-subtitle>
			</mat-card-header>
			<carousel width="400" height="320" cellsToShow="1" loop="true" 
			overflowCellsLimit="2" autoplay="true" autoplayInterval="2200" dots="true"
			transitionTimingFunction="linear" lightDOM="true">
			<div class="carousel-cell" *ngFor="let path of portfolioCard.paths">
				<img [src]="path">
			</div>
			</carousel>
			<mat-card-actions>
				<button mat-button 
				(click)="portfolioCard.showLightbox()">
				Mărime full screen</button><br>
				<button mat-button (click)="goEdit(i)">Editează</button>
				<button mat-button (click)="delete(i,portfolioCard.title)">
					<span style="color:#E92F34;">Șterge</span></button>
				<ng-image-fullscreen-view
				[images]="portfolioCard.images" [imageIndex]="portfolioCard.selectedImageIndex"
				[show]="portfolioCard.showFlag" [paginationShow]="true" [animationSpeed]="0.4"
				(close)="portfolioCard.closeEventHandler()"></ng-image-fullscreen-view>
			</mat-card-actions>
		</mat-card>
	</div>
</div>
<div class="delete" *ngIf="!haveAnyPost">
	<button mat-raised-button (click)="deleteAccount()">Delete account</button>
</div>
<app-back-floating-button></app-back-floating-button>