.grid {
    display: grid;
    place-items: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.c1 {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 80px;
    margin: 5% 12% 5% 12%;
    justify-items: center;
    align-items: center;

    .grid-item:nth-child(odd):last-child {
        grid-column: 1/ span 2;
    }
}

.c2 {
    display: grid;
    grid-template-columns: auto;
    row-gap: 80px;
    margin: 5% 12% 5% 12%;
    justify-items: center;
    align-items: center;
}

.c1, .c2 {
    .addIcon {
        font-size: 600%;
        width: auto;
        height: auto;
        border-radius: 100%;
        box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.1);
        &:hover {
            border-radius: 100%;
            box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
            cursor: pointer;
        }
    }

    .card {
        border-radius: 12px;
        text-align: center;
        .avatar {
            border-radius: 100%;
            font-size: 200%;
            border-bottom: 4px solid #0282C5;
            color: #0282C5;
        }
        carousel {
            border-radius: inherit;
            overflow: hidden;
            z-index: 5;
        }
        .mat-button {
            font-size: 100%;
            color: #0282C5;
        }
        
        &:hover {
            box-shadow: 4px 8px 16px 4px rgba(0,0,0,0.2);
        }
    }
}

.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    button {
        background-color: #f44336;
        color: #ffffff;
        font-size: 150%;
        padding: 15px;
        &:hover {
            background-color: #ffffff;
            color: #f44336;
        }
    }
}