* {
	color: #0077b6;
}
	
form {
	text-align: center;
}

.input {
	width: 100%;
}
	
.textarea {
	width: 100%;
}

.action {
	justify-content: center;
}
	
.text-danger {
	color: #E34141;
}

label {
	margin-top: 15%;
}

.password {
	width: 90%; 
}

mat-icon {
	cursor: pointer;
}