<div class="title">
    <p class="text">Avantajele sistemului
    </p>
</div>
<app-brandDiv></app-brandDiv>
<hr>
<div class="grid-container c2">
    <div class="grid-item item1">
        <img [src]="img1">
    </div>
    <div class="grid-item item2">
        <h2>De ce MedClyn?</h2>
        <p>
            <b>Respectă normelor de igienă.</b>
            Conform metodei HACCP, acoperirile pentru pereți și tavane
            trebuie să îndeplinească anumite criterii stricte (materiale netede, impermeabile,
            neabsorbante, ușor de curățat și dezinfectat, rezistente la coroziune și non-toxice etc.).
            Sistemul MedClyn® face posibilă respectarea tuturor acestor cerințe și obținerea
            certificărilor necesare în sectorul alimentar și de sănătate.
        </p>
    </div>
    <div class="grid-item item3">
        <p>
            <b>Durabilitate.</b> Odată instalate, plăcile MedClyn ® își păstrează aspectul nou timp
            de peste 10 ani, chiar și atunci când este supusă unei spălări intense și a tot felul
            de agresiuni. Instalare rapidă fără a opri producția. În cele mai multe cazuri, instalarea
            produselor noastre nu necesită o întrerupere în funcționare sau cel puțin o perioadă de
            oprire foarte limitată. Placa de 2-3 mm este de fapt plasată pe toate tipurile de suporturi
            (plăci, panouri sandwich , beton, faianță, zidărie, etc.). Prin urmare, instalarea acestei
            soluții este rapidă, fără a îndepărta pereții și tavanele vechi.
        </p>
    </div>  
    <div class="grid-item item4">
        <p>
            <b>Rezistent la orice test.</b> Plăcile MedClyn ® sunt excesiv de puternice și rezistă
            la tot ceea ce pereții și tavanele trebuie să suporte, cum ar fi șocul, umiditatea,
            spălarea la presiune înaltă, spuma de dezinfectare, atacul chimic etc.
        </p>
    </div>
</div>
<hr>
<div class="grid-container c3">
    <div class="grid-item item1">
        <img [src]="img2">
    </div>
    <div class="grid-item item2">
        <h2>Planeitate și rezisteță</h2>
        <p>
            Netede, lucioase, impermeabile, ușor de curățat și dezinfectat. De asemenea, sunt
            hidrofobe, rezistente la putregai, inalterabile, anti-ciuperci, antioxidante, bacteriostatice.
            Această protecție de perete compozită rezistă la șocuri, perforații, pete, umiditate, spălare
            repetitivă și de înaltă presiune, dezinfectanți, anumiți acizi.
        </p>
    </div>
    <div class="grid-item item3">
        <img [src]="img3">
    </div>
    <div class="grid-item item4">
        <h2>Cât mai puține îmbinări</h2>
        <p>
            Dimensiunile mari ale plăcilor MedClyn® permit reducerea drastică a numărului de
            îmbinări de perete pentru a facilita curățarea și dezinfectarea suprafețelor.
            Acest strat de perete compozit face posibilă renovarea rapidă a faiantei, a
            plăcilor deteriorate, a pvc sau a panourilor izolate. Noul lor aspect, alb sau
            colorat, durează peste 10 ani.
        </p>
    </div>
</div>
<hr>
<div class="grid-container c4">
    <div class="grid-item item1">
        <img [src]="img4">
    </div>
    <div class="grid-item item2">
        <h2>De ce să optați pentru sistemul MedClyn?</h2>
        <p>
            Pentru a răspunde <b>condițiilor de igienă</b> impuse de cele mai stricte standarde.<br><br>
            Pentru a vă bucura de un mediu de lucru foarte <b>rezistent la șocuri</b> sau 
            <b>atacuri chimice</b>, <b>umiditate</b>.<br><br>
            Pentru renovarea mediului de lucru (bucătărie , cameră frigorifică, depozite).<br><br>
            Pentru <b>absența aderenței germenilor</b> datorită suprafeței netede.<br><br>
            Pentru caracterisicile <b>hidrofobe</b>, <b>rezistente la putregai</b>, <b>inalterabile</b>,
                <b>anti-ciuperci</b>, <b>antioxidante</b>, <b>bacteriostatice</b>.<br><br>
            Pentru <b>rezistența în timp</b> de neegalat.<br><br>  <b></b>
            Pentru <b>grosimea sa redusă</b> (2-3 mm) și pentru faptul că <b></b>se poate lipi de toate tipurile
                de suporturi.<br><br>
            Pentru a reduce costurile prin <b>instalarea sa ușoară prin lipire</b>: pe toate substraturile
                care nu sunt friabile, precum plăci, beton arhitectural sau celular, structuri metalice,
                panouri sandwich...<br><br>
            Pentru a <b>îmbunătăți infrastructura existentă</b>: îmbrăcarea pereților și a tavanelor cu
            MedClyn înseamnă creșterea valorii infrastructurii pe termen lung.<br><br>
            Pentru a <b>limita pierderile suprafeței de operare</b>: subțire (2 mm).<br><br>
            Pentru <b>a crește lumina ambientală</b>: îmbunătățirea condițiilor de muncă.<br><br>
            Pentru a asigura un finisaj perfect datorită gamei complete de accesorii.<br><br>
            <b>Risc redus de îngălbenire.</b>
        </p>
    </div>
</div>