* {
    text-align: center;
}

.title {
    background-color: #0085CC;
    color: #ffffff;
    
    padding: 5% 0 1% 0;
    height: 25vh;
    .text {
        font-size: 320%;
    }
}

hr {
    display: block;
    height: 1px;
    width: 50%;
    border: 0;
    border-top: 1px solid #0085CC;
}

.grid-container  {
    color: #737373;
    font-size: 110%;
}

.c2, .c3, .c4 {
    font-size: 90%;
}

.c2 {
    display: grid;
    column-gap: 50px;
    margin: 3% 10% 3% 10%;
    justify-items: center;
    align-items: center;
    .item1 {
        grid-column: 1;
        grid-row: 1/span 3;
        img {
            width: 35vw;
            border-radius: 12px;
        }
        
    }
    .item2 {
        grid-column: 2;
        grid-row: 1; 
    }
    .item3 {
        grid-column: 2;
        grid-row: 2; 
    }
    .item4 {
        grid-column: 2;
        grid-row: 3;
    }
}

.c3 {
    display: grid;
    grid-template-columns: 30% 40%;
    column-gap: 50px;
    row-gap: 50px;
    margin: -8% auto 3% auto;
    align-items: center;
    justify-content: center;
    .item1 {
        grid-column: 1;
        grid-row: 4; 
        img {
            width: 30vw;
            border-radius: 12px;
        }
    }
    .item2 {
        grid-column: 2;
        grid-row: 4;
    }
    
    .item3 {
        grid-column: 2;
        grid-row: 5; 
        img {
            width: 30vw;
            border-radius: 12px;
        }
    }
    .item4 {
        grid-column: 1;
        grid-row: 5;
    }
}

.c4 {
    display: grid;
    grid-template-columns: auto 50%;
    column-gap: 50px;
    margin: 3% 7% 5% 7%;
    justify-items: center;
    align-items: center;
    .item1 {
        grid-column: 1;
        grid-row: 1;
        img {
            width: 38vw;
            border-radius: 12px;
        }
    }
    .item2 {
        grid-column: 2;
        grid-row: 1; 
    }
}

@media screen and (max-width: 1000px) {
    hr {
        visibility: hidden;
    }

    .title {
        height: 35vh;
        padding-top: 15%;
        padding-bottom: 1%;
    }

    .c2 {
        grid-template-rows: auto;
        grid-template-columns: auto auto auto auto;
        margin: 3% 7% 5% 7%;
        justify-items: center;
        align-items: center;
        .item1 {
            grid-column: 1;
            grid-row: 1;
            img {
                width: 85vw;
                border-radius: 12px;
            }
        }
        .item2 {
            grid-column: 1;
            grid-row: 2; 
        }
        .item3 {
            grid-column: 1;
            grid-row: 3; 
        }
        .item4 {
            grid-column: 1;
            grid-row: 4;
        }
    }
    
    .c3 {
        display: grid;
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto;
        column-gap: 50px;
        row-gap: 50px;
        margin: 3% 7% 5% 7%;
        justify-items: center;
        align-items: center;
        .item1 {
            grid-column: 1;
            grid-row: 1; 
            img {
                width: 80vw;
                border-radius: 12px;
            }
        }
        .item2 {
            grid-column: 1;
            grid-row: 2;
        }
        
        .item3 {
            grid-column: 1;
            grid-row: 3; 
            img {
                width: 80vw;
                border-radius: 12px;
            }
        }
        .item4 {
            grid-column: 1;
            grid-row: 4;
        }
    }
    
    .c4 {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: auto;
        column-gap: 0px;
        margin: 3% 7% 5% 7%;
        justify-items: center;
        align-items: center;
        .item1 {
            grid-column: 1;
            grid-row: 1;
            img {
                width: 85vw;
                border-radius: 12px;
            }
        }
        .item2 {
            grid-column: 1;
            grid-row: 2; 
        }
    }
}