.float{
	position:fixed;
	width:65px;
	height:65px;
	right: 65px;
	bottom: 25px;
	z-index: 15;
	box-shadow: 0 14px 28px rgba(0,0,0,0.5);
	border-radius: 100%;
	cursor: pointer;

	mat-icon {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
  	}
}

@media screen and (max-width: 1000px) and (min-width: 0px)  {
	.float {
		right: 25px;
	}
}