<div class="title">
	<p class="text">Domenii de utilizare</p>
</div>
<div class="grid-container c1"> 
	<div class="grid-item item1">
		<img [src]="img1">
	</div>
	<div class="grid-item item2" >
		<h2>În domeniu medical</h2>
		<p>
			Soluție de placare a pereților <b>antibacteriană</b> și <b>antimicrobiană</b>. Rezistență
			perfectă la curățare intensivă bactericidă, fungicidă, virucidă și sporicidă. <b>Previne
			prezența biofilmelor</b> pe suprafața sa datorită stratului său neted 100%. Ajută
			decontaminare durabilă. Placa de <b>antibioterapie</b> MedClyn <b>limitează astfel riscurile
			infecțiilor nosocomiale</b>. Rezistentă la căldură, foaia MedClyn poate fi spălată cu
			aburi fără niciun inconvenient. Inodor și netoxic. Rezistență la impact și abraziune.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			Se instalează ușor pe toate tipurile de suporturi existente (plăci, viniluri etc.).
			Accesoriile MedClyn garantează, de asemenea, protecția finisajelor, și anume: unghiuri,
			plinte, GRINZI DE polietilenă la înălțimea mijlocie, etc. Soluția MedClyn se adaptează
			infrastructurilor din mediul dumneavoastră.
		</p>
	</div>  
	<div class="grid-item item4">
		<p>
			Recomandat în: <b>săli de operație</b>, <b>camere sterile</b>, <b>săli de terapie</b>, 
			<b>camere de supraveghere post-operatorie</b>, <b>în circuitul lenjeriei și al deșeurilor</b>,
			<b>holuri</b>, <b>spălătorii</b>, <b>bucătării</b>, <b>băi pentru pacienți</b>.
		</p>
	</div>
</div>
<hr>
<div class="grid-container c2">
	<div class="grid-item item1">
		<img [src]="img2">
	</div>
	<div class="grid-item item2">
		<h2>În industria alimentară</h2>
		<p>
			Respectă standardele alimentare. Practic instalarea nu necesită nicio întrerupere în
			funcționare. Calitatea înaltă durabilă,  își păstrează noul aspect de peste 10 ani,
			MedClyn produce foaia de poliester destinată să îmbine pereții și tavanele cu standarde
			alimentare. Rezistent la orice test, șoc, umiditate, spălare la presiune înaltă,
			dezinfectare spumă și este de 10 ori mai puțin poros decât PVC-ul: risc redus de îngălbenire.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			Recomandat în: <b>abatoare</b>, <b>tăiere</b>, <b>dezosare</b>, <b>unitate de umplere</b>,
			<b>sală de fabricație</b>, <b>sărare</b>, <b>gătit</b>, <b>refrigerare</b>,
			<b>prelucrare depozitare</b>, <b>zonă de gătit</b>, <b>coridoare</b>, <b>rezerve</b>,
			<b>vestiare</b>, <b>toalete</b>.
		</p>
	</div>  
</div>
<hr>
<div class="grid-container c3">
	<div class="grid-item item1">
		<img [src]="img3">
	</div>
	<div class="grid-item item2">
		<h2>În bucătării profesionale</h2>
		<p>
			Ușor lavabil, lipeste toate tipurile de suporturi. Faianța care a fost utilizată ca
			acoperire de perete pentru bucătării nu mai îndeplinește implicit noile standarde
			alimentare.
			Își păstrează noul aspect de peste 10 ani. Iinstalarea nu necesită nicio întrerupere
			în funcționare. Rezistent la orice test, șoc, umiditate, spălare la presiune înaltă,
			dezinfectare spumă.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			Recomandat în: <b>bucătăriile restaurantelor</b>, <b>companiilor</b>, <b>școlarilor</b>, 
			<b>spitalelor</b>, <b>hotelurilor</b>, <b>pensiunilor</b>.
		</p>
	</div>
</div>
<hr>
<div class="grid-container c4">
	<div class="grid-item item1">
		<img [src]="img4">
	</div>
	<div class="grid-item item2">
		<h2>În alte domenii</h2>
		<p>
			Răspunde la condițiile igienice impuse de standarde din ce în ce mai stricte.
			Este ușor de curățat și / sau dezinfectabil, nu este toxic, are culoare deschisă,
			rezistent la impact, umiditate, putrezire și este neabsorbant.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			Poți renova mediul de lucru (bucătărie, cameră frigorifică, depozite) fără să te angajezi
			într-un proiect pe termen lung, în timp ce vei putea continua să lucrezi. Nu ocupă spațiul
			având grosime de 2-3 mm. Vă bucurați de un mediu de lucru foarte rezistent la șocuri,
			produse de curățare și pete. Totodată nu va mai trebui să vă faceți griji pentru renovare 
			pe termen lung .
		</p>
	</div>
	<div class="grid-item item4">
		<p>
			Recomandat în: <b>laboratoare</b>, <b>medii high-tech</b>, <b>spălătorii</b>, <b>curățătorii</b>,
			<b>camere tehnice</b>, <b>vestiare</b>, <b>săli de sport</b>, <b>depozite</b>,
			<b>camere frigorifice</b>.
		</p>
	</div>  
</div>
<hr>
<app-brandDiv></app-brandDiv>
<hr>
<div class="grid-container c6">
	<div class="grid-item item1">
		<img [src]="img5">
	</div>
	<div class="grid-item item2">
		<h2>De ce să alegi MedClyn?</h2>
		<p>
			<b>Respectă normelor de igienă.</b> Conform metodei HACCP , acoperirile pentru pereți și tavane
			trebuie să îndeplinească anumite criterii stricte (materiale netede, impermeabile,
			neabsorbante, ușor de curățat și dezinfectat, rezistente la coroziune și non-toxice etc.).
			Sistemul MedClyn® face posibilă respectarea tuturor acestor cerințe și obținerea
			certificărilor necesare în sectorul alimentar și de sănătate.
		</p>
	</div>
	<div class="grid-item item3">
		<p>
			<b>Rezistent la orice test.</b> Plăcile MedClyn sunt excesiv de puternice și rezistă la
			tot ceea ce pereții și tavanele trebuie să suporte, cum ar fi șocul, umiditatea, spălarea
			la presiune  înaltă, spuma de dezinfectare, atacul chimic etc.
		</p>
	</div>  
	<div class="grid-item item4">
		<p>
			<b>Durabilitate.</b> Odată instalate, plăcile MedClyn ® își păstrează aspectul nou timp
			de peste 10 ani, chiar și atunci când este supusă unei spălări intense și a tot felul de
			agresiuni. Instalare rapidă fără a opri producția. În cele mai multe cazuri, instalarea
			produselor noastre nu necesită o întrerupere în funcționare sau cel puțin o perioadă de
			oprire foarte limitată. Placa de 2-3 mm este de fapt plasată pe toate tipurile de suporturi
			(plăci, panouri sandwich , beton etc.). Prin urmare, instalarea acestei soluții este rapidă,
			fără a îndepărta pereții și tavanele vechi.
		</p>
	</div>  
</div>
