<div class="grid-container c2">
	<div class="grid-item item1">
		<span class="follow">Urmărește <span class="hashtag">#medclyn</span></span>
		<p class="grid-container-aux">
			<span class="i1">
				<fa-icon [icon]="facebook" class="grid-item item1" matTooltip="Treci pe link"
				(click)="goToLink('https://www.facebook.com/MedClynRomania/')"></fa-icon>&nbsp;
				<svg width="0" height="0">
					<linearGradient id="facebook" x1="100%" y1="100%" x2="0%" y2="0%" >
						<stop offset="0%" style="stop-color:#0862A7; stop-opacity:1" />
						<stop offset="100%" style="stop-color:#065693; stop-opacity:1" />
					</linearGradient>
				</svg>
			</span>
			<span class="i2">
				<fa-icon [icon]="youtube" class="grid-item item2" matTooltip="Treci pe link"
				(click)="goToLink('https://www.youtube.com/channel/UCCI8XqaD27-52AUcYyhaOsw')"></fa-icon>&nbsp;
				<svg width="0" height="0">
					<linearGradient id="youtube" x1="100%" y1="100%" x2="0%" y2="0%" >
						<stop offset="0%" style="stop-color:#AD1616; stop-opacity:1" />
						<stop offset="25%" style="stop-color:#AC0606; stop-opacity:1" />
						<stop offset="50%" style="stop-color:#AC0606;stop-opacity:1" />
						<stop offset="100%" style="stop-color:#ff0101;stop-opacity:1" />
					</linearGradient>
				</svg>
			</span>
			<span class="i3">
				<fa-icon [icon]="instagram" class="grid-item item3" matTooltip="Treci pe link"
				(click)="goToLink('https://www.instagram.com/medclyn/')"></fa-icon>
				<svg width="0" height="0">
					<linearGradient id="instagram" x1="100%" y1="100%" x2="0%" y2="0%" >
						<stop offset="0%" style="stop-color:#405DE6;stop-opacity:1" />
						<stop offset="10%" style="stop-color:#5851D8;stop-opacity:1" />
						<stop offset="20%" style="stop-color:#833AB4;stop-opacity:1" />
						<stop offset="30%" style="stop-color:#C13584;stop-opacity:1" />
						<stop offset="40%" style="stop-color:#E1306C;stop-opacity:1" />
						<stop offset="50%" style="stop-color:#FD1D1D;stop-opacity:1" />
						<stop offset="60%" style="stop-color:#F56040;stop-opacity:1" />
						<stop offset="70%" style="stop-color:#F77737;stop-opacity:1" />
						<stop offset="100%" style="stop-color:#FCAF45;stop-opacity:1" />
					</linearGradient>
				</svg>
			</span>
		</p>
	</div>
	<div class="grid-item item2">
		<mat-list role="list">
			<div class="subheader" mat-subheader>Contact</div>
			<mat-list role="list">
				<mat-list-item role="listitem">
					<mat-icon (click)="call('+40733200500')" matTooltip="Sună">call</mat-icon>
				   <span ngxClipboard matTooltip="Copiere" [cbContent]="'+40733200500'" 
				   (click)="copySnackBar('Nr. de telefon')">&nbsp; +40 733 200 500</span>
				</mat-list-item>
				<mat-list-item role="listitem">
					<mat-icon (click)="goToLocation()" matTooltip="Arată pe hartă">location_on</mat-icon>
					<span ngxClipboard matTooltip="Copiere" 
					[cbContent]="'Srada Oltului 141, Băicoi Prahova, 105200'"
					(click)="copySnackBar('Adresa')">&nbsp;Srada Oltului 141,<br>
					&nbsp;Băicoi Prahova, 105200</span>
				</mat-list-item>
				<mat-list-item role="listitem">
					<mat-icon (click)="openEmailDialog()" matTooltip="Trimite un mesaj">mail_outline</mat-icon>
					<span ngxClipboard matTooltip="Copiere" [cbContent]="'contact@medclyn.ro'"
					(click)="copySnackBar('Email-ul')">&nbsp;contact@medclyn.ro</span>
				</mat-list-item>
			</mat-list>
		</mat-list>
	</div>
	<div class="grid-item item3">
		<mat-list role="list">
			<div class="subheader" mat-subheader>Informații juridice</div>
			<mat-list-item role="listitem">
				<mat-icon matTooltip="Denumire firmă">business</mat-icon>
				<span ngxClipboard matTooltip="Copiere" (click)="snackBarOnCopy()"
				[cbContent]="'S.C MULTI CONTRAST DESIGN'">&nbsp;S.C MULTI CONTRAST DESIGN</span>
			</mat-list-item>
			<mat-list-item role="listitem">
				<mat-icon matTooltip="Cod de Identificare Fiscală">flag</mat-icon>
				<span ngxClipboard matTooltip="Copiere" (click)="snackBarOnCopy()"
				[cbContent]="'RO19063140'">&nbsp;RO19063140</span>
			</mat-list-item>
			<mat-list-item role="listitem">
				<mat-icon matTooltip="Nr. înmatriculare la Registrul Comerțului">ballot</mat-icon>
				<span ngxClipboard matTooltip="Copiere" (click)="snackBarOnCopy()"
				[cbContent]="'J29/2121/2006'">&nbsp;J29/2121/2006</span>
			</mat-list-item>
		</mat-list>
	</div>
	<div class="grid-item item4">
		<mat-list role="list">
			<div class="subheader" mat-subheader>Alte detalii</div>
			<mat-list-item role="listitem" matTooltip="Vezi politica de confidențialitate">
				<mat-icon>info</mat-icon>&nbsp;
				<span [routerLink]="'/policy'">Politica de confidențialitate</span>
			</mat-list-item>
			<mat-list-item role="listitem" matTooltip="Vezi detalii tehnice">
				<mat-icon>settings</mat-icon>&nbsp;
				<span [routerLink]="'/technical'">Detalii tehnice</span>
			</mat-list-item>
			<mat-list-item role="listitem" matTooltip="Vezi portofoliu lucrări">
				<mat-icon>folder_open</mat-icon>&nbsp;
				<span [routerLink]="'/portfolio'">Portofoliu lucrări</span>
			</mat-list-item>
		</mat-list>
	</div>
	<div class="grid-item item5">
		<hr>
		<p>Copyright© 2020 MedClyn®</p>
	</div>
</div>