.c2 {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto auto;
    background-color: #0086cc;
    grid-row-gap: 20px;
    grid-column-gap: 2px;
    padding-top: 2%;
    .grid-item {
        mat-list {
            .subheader {
                color: #D4E1E4;
                font-size: 100%;
            }
            mat-list-item {
                color: #E0E0E0;
                font-size: 70%;
            }
            mat-icon, span {
                cursor: pointer;
            }
        }
    }
    .item1 {
        grid-column: 1/ span 2;
        grid-row: 1;
        text-align: center;
        margin: auto;
        height: 75%;
        .follow {
            width: 100%;
            font-size: 200%;
            color: #D4E1E4;
        }
        .grid-container-aux {
            display: block;
            grid-template-columns: auto auto auto;
            margin-left: auto;
            margin-right: auto;
            font-size: 150%;
            .grid-item {
                cursor: pointer;
            }
            .i1 {
                fa-icon.grid-item ::ng-deep svg * {
                    fill: url(#facebook);
                }
                .item1 {
                    grid-column: 1;
                    grid-row: 1;
                    font-size: 125%;
                    color: #0a81ec;
                }
            }
            
            .i2 {
                fa-icon.grid-item ::ng-deep svg * {
                    fill: url(#youtube);
                }
                .item2 {
                    grid-column: 2;
                    grid-row: 1;
                    font-size: 125%;
                    color: #A30909;
                }
            }
            
            .i3 {
                fa-icon.grid-item ::ng-deep svg * {
                    fill: url(#instagram);
                }
                .item3 {
                    grid-column: 3;
                    grid-row: 1;
                    font-size: 125%;
                    
                }
            }
    
        }
    }
    
    .item2 {
        grid-column: 3;
        grid-row: 1;
    }
    
    .item3 {
        grid-column: 4;
        grid-row: 1;
    }
    
    .item4 {
        grid-column: 5;
        grid-row: 1;
    }
    
    .item5 {
        grid-column: 1/ span 5;
        grid-row: 2;
        text-align: center;
        vertical-align: bottom;
        color: #ffffff;
        hr {
            display: block;
            width: 100%;
            height: 1px;
            width: 78%;
            border: 0;
            border-top: 1px solid #90E0EF;
        }
    }
}

@media screen and (max-width: 900px) and (min-width: 0px)  {
    .c2 {
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
        grid-row-gap: 50px;
        .grid-item {
            width: 50%;
        }
        mat-list {
            margin: auto;
            display: block;
            .subheader {
                font-size: 115%;
            }
            mat-list-item {
                font-size: 125%;
            }
        }
        .item1 {
            grid-column: 1;
            grid-row: 1;
        }
    
        .item2 {
            grid-column: 1;
            grid-row: 2;
            margin: auto;
        }
    
        .item3 {
            grid-column: 1;
            grid-row: 3;
            margin: auto;
        }
    
        .item4 {
            grid-column: 1;
            grid-row: 4;
            margin: auto;
        }
    
        .item5 {
            grid-column: 1;
            grid-row: 5;
            margin: auto;
        }
    }
    
}

@media screen and (max-width: 1000px) {
    .c1 {
        grid-template-columns: 70%;
        grid-template-rows: auto; 
        .item1 {
            grid-column: 1;
            grid-row: 1;
            img {
                width: 40vw;
            }
        }
        .item2 {
            grid-column: 1;
            grid-row: 2;
        }
    }
}