.title {
	background-color: #0085CC;
	color: #ffffff;
	text-align: center;
	padding: 5% 0 1% 0;
	height: 25vh;
	.text {
		font-size: 320%;
	}
}

@media screen and (max-width: 1000px) and (min-width: 0px)  {
	.title {
		height: 35vh;
		padding-top: 15%;
	}
}